.fixed {
	position: fixed;
}

.static {
	position: static;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
	z-index: 1020;
}

.sticky {
	position: sticky;
}

.top {
	top: 20px;
}

.right {
	right: 20px;
}

.left {
	left: 20px;
}

.bottom {
	bottom: 20px;
}

.centered {
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.italic {
	font-style: italic;
}

.pt-4 {
	padding-top: 4em;
}

.pb-4 {
	padding-bottom: 4em;
}

.centerH {
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}