.fixed {
	position: fixed;
}

.top {
	top: 20px;
}

.right {
	right: 20px;
}

.left {
	left: 20px;
}

.bottom {
	bottom: 20px;
}

.centered {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.italic {
	font-style: italic;
}