.fixed {
	position: fixed;
}

.static {
	position: static;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
	z-index: 1020;
}

.sticky {
	position: sticky;
}

.top {
	top: 20px;
}

.right {
	right: 20px;
}

.left {
	left: 20px;
}

.bottom {
	bottom: 20px;
}

.centered {
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

.italic {
	font-style: italic;
}

.pt-4 {
	padding-top: 4em;
}

.pb-4 {
	padding-bottom: 4em;
}

.centerH {
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.centerV {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.centerHV {
	position: relative;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.flexC {
	display: flex;
	flex-direction: column;
}

.flexR {
	display: flex;
	flex-direction: row;
}

.flex1 {
	display: block;
	flex: 1;
}

.flex2 {
	display: block;
	flex: 2;
}

.flex3 {
	display: block;
	flex: 3;
}

.nomargin {
	margin: 0 0 0 0;
}

.nopadding {
	padding: 0 0 0 0;
}

.inline {
	display: inline-block;
}

.hide {
	display: none;
	visibility: hidden;
}

.show {
	display: block;
	visibility: visible;
}

.block {
	display: block;
	width: auto;
	height: auto;
}