.fixed {
	position: fixed;
}

.static {
	position: static;
}

.absolute {
	position: absolute;
	z-index: 1020;
}

.top {
	top: 20px;
}

.right {
	right: 20px;
}

.left {
	left: 20px;
}

.bottom {
	bottom: 20px;
}

.centered {
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.italic {
	font-style: italic;
}